*{
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.miNavBar {
    background-color: rgb(58, 160, 243);
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20201101/pngtree-plant-shadow-with-green-wallpaper-svg-image_450856.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* backround-attachment: fixed;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    }
.miNavBar {
    display: flex;
}
.estiloOpciones {
    list-style: none;
}
.estiloOpciones li {
    display: inline;
}
.estiloOpciones li button, #botonSesion {    
    width: 160px;
    background: rgb(76, 19, 233);
    color: white;
    font-weight: bold;
    padding: 15px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
#botonSesion { 
    width: 400px !important;
    color: rgb(147, 226, 43) !important;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.texto1 {
    text-align: center;
    margin: 5% 150px;
}
.imgSlider {
    width: 100%;
}

