*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(7, 0, 0);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly
}
.img {
    width: 65px;
    height: 26px;
}
.buttonClass{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.buttonClass li a {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.fa-solid {
    margin-right: 10px;
}
.cajaG {
    margin: 30px 150px 50px;
    padding: 15px;
    gap: 10px;
}
.Uno{
    width: 100%;
}

.imagenes{
    display: grid;
    margin: 30px 150px;
    padding: 15px;
    grid-template-rows: repeat(5, 350px);
    grid-template-columns: repeat(3, 400px);
    gap: 15px;
    align-items: center;
}
.noticias {
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;

}

.dos{
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}
.dosdos{
    width: 350px;
    height: 200px;
}
.tres{
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}
.trestres{
    width: 350px;
    height: 200px;
}
.cuatro{
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}
.cuatrocuatro{
    width: 350px;
    height: 200px;
}
.cinco{
    grid-column: 2/3;
    grid-row: 2/3;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}
.cincoccinco{
    width: 350px;
    height: 200px;
}
.seis{
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}
.seisseis{
    width: 350px;
    height: 200px;
}
.siete{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
    border-radius: 15px;
}
.sietesi{
    width: 350px;
    height: 200px
}
.ocho{
   border: 1px solid black;
   border-radius: 15px;
    grid-column: 1/2;
    grid-row: 4/5
}
.ochooxho{
    width: 350px;
    height: 200px;
}
.noticias h6 {
    width: 70%;
    color: rgb(5, 0, 0);
}

.imgNoticias {
    width: 20% !important;
    border-radius: 0 !important;
}
.buttonClass{
    width: 100%;
    height: none;
}
.pone{
    grid-column: 1/4;
    grid-row: 2/3;
}
.footer {
    height: 600px;
    padding: 70px 30px;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
}
.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
