*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(7, 0, 0);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly
}
.img {
    width: 65px;
    height: 26px;
}
.buttonClass {
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    gap: 10px;
    cursor: pointer;
}
.cajaG {
    margin: 30px 150px 50px;
    padding: 10px;
    gap: 10px;
}
.Uno{
    width: 100%;
    height:none;
}
.imagenes {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 380px 380px 380px 380px 380px;
    gap: 20px;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}
.dos{
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: pointer;
}
.dosdos{
    width: 350px;
    height: 200px;
}
.tres{
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
}
.trestres{
    width: 350px;
    height: 200px;
}
.cuatro{
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
}
.cuatrocuatro{
    width: 350px;
    height: 200px;
}
.cinco{
    grid-column: 2/3;
    grid-row: 2/3;
    cursor: pointer;
}
.cincoccinco{
    width: 350px;
    height: 200px;
}
.seis{
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
}
.seisseis{
    width: 350px;
    height: 200px;
}
.siete{
    grid-column: 2/3;
    grid-row: 3/4;
}
.sietesi{
    width: 350px;
    height: 200px

}

.ocho{
   
    grid-column: 1/2;
    grid-row: 4/5
}
.ochooxho{
    width: 350px;
    height: 200px;
}

.buttonClass{
    width: 100%;
    height: ;
}
.pone{
    grid-column: 1/4;
    grid-row: 2/3;
}
.footer {
    width: 900px;
    height: 300px;
    display: flex; !important
}
